/**** Reseteo ******/
:root{
    --main-font:sans-serif;
    --font-size:62.5%;
    --main-color:#f7df1e;
    --second-color:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85);
    --container-width:1200px;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    overflow-x: hidden;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
    height: auto;
}


/****** menu hamburguesa ******/
.header{
    position: sticky;
    top: 0;
    padding: 1.6rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 3.2rem;
    padding-top: 6.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel{
    position: fixed;
    z-index: 980;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--second-modal-color);
    transition: transform 0.3s ease;
    transform: translate(0, -100%);
}

.panel.is-active{
    transform: translate(0,0);
}

.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    background-color: var(--main-color);
    width: 6.4rem;
    height: 6.44rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 3.2rem;
    width: inherit;
    display: block;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}